.profile_pic{
    width: 20%;
    height: auto;
}

.update_bio{
    padding-left: 95%;
    padding-top: 5%;
    
}

.bio{
    text-align: left;
    border-top: solid;
    width: 80%;
    margin: 5% 10% 2% 10%;
    padding-top: 2%;
}

h1{
    margin: 3%;
    display:inline;
}

.post_sec{
    border-top: solid;
    text-align: left;
    width: 80%;
    margin:0% 10% 0% 10%;
    padding: 2%;
}

.comment_sec{
    border-top: solid;
    text-align: left;
    width: 80%;
    margin:0% 10% 0% 10%;
    padding: 2%;
}

.info_div{
    margin:5% 10% 5% 10%;
    padding: 3%;
    width: 80%;
    border: solid;
    border-color: rgb(224, 221, 221);
}

.status_sec{
    border-top: solid;
    text-align: left;
    width: 80%;
    margin:0% 10% 0% 10%;
    padding: 2%;
}

.label{
    margin: 0% .5% 0% 0%
}

.edit_bio{
    background-color: white;
    border-color: white;
}

.bio_textarea{
    width: 100%;
    display: none;
}

.save{
    width: 100%;
    display: none;
    margin-top: 1%;
}

.bio_text{
    display: block;
    font-size: 2vw;
}