.add_content {
    position: fixed;
    right: 0px; bottom: 0px;
    padding: 3%;
  }

  .PublicUsers{
    margin: .5vw;
    background-color: rgb(228, 167, 225);
    width: 30%;
    border-radius: 7%;
    
  }

  .container{
    display: flex;
    flex-wrap: wrap;
  }

  .public_content{
    border: solid;
    border-radius: 1%;
    margin: 2%;
  }

  .content_container{
    width: 90%;
    margin: 5%;
    padding: 1%;
  }
  
  .creator{
    display: inline;
    width: 30%;
    margin: 0;
    padding: 0;
  }
  
  .last_update{
    display: inline;
    width: 30%;
    padding-left: 60%;
    margin-top: 0%;
  }

  .realm{
    font-weight: 300;
    padding: 0%;
    margin: 0%;
  }

  .content{
    margin-top: 1%;
  }