.realm{
    text-align: left;
    padding: 3%;
    margin: 3%;
}

.menueLabel{
    padding-right: 3%;
    margin-right: 3%;
}

.types_bar{
    background-color: rgb(220, 225, 230);
    width: 40%;
    margin-left: 25%;
    margin-bottom: 0;
}

.article{
    display: inline;
    margin: 6%;
}

.pic{
    display: inline;
    margin: 6%;
}

.video{
    display: inline;
    margin: 6%;
}

.audio{
    display: inline;
    margin: 6%;
}